
BODY {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

DIV.header {
    background-color: #A4CBEB;
    margin: 0;
    padding: 10px 10px 5px 10px;
    font-size: 16px;
    clear:both;
    overflow: hidden;
}

.pagetitle {
    float:left;
    font-size:24px;
}

DIV.footer {
    background-color: #A4CBEB;
    margin: 0;
    font-size: 10px;
    padding: 5px 20px;
}

DIV.all_contents {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.5;
}

DIV.all_contents P {
    line-height: 1.2;
}

IMG { 
  border: 0;
}

A:link {
    text-decoration: none;
	color:#0000FF;
}
A:visited {
    text-decoration: none;
	color:#0000FF;
}
A:hover {
    text-decoration: underline;
}
A:active {
    text-decoration: none;
}

.camcmd {
    color: #0000FF;
    text-align: center;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-color: transparent; 
}
.camcmd:hover {
    border-color: black;
    cursor: default;
}

